# パッケージ依存関係
/node_modules

# コンパイルされたバイナリやビルドアーティファクト
/build
/dist

# 環境変数や認証情報
.env

# ログファイル
/logs

# 一時ファイルやキャッシュファイル
*.tmp
*.cache

# その他の一時ファイルやディレクトリ
.temp/
.temp/*

# エディタ関連の設定ファイルやキャッシュ
.vscode/
.idea/
*.sublime-*
*.swp
